.tiles {
  position: absolute !important;
  top: calc(80% - 20px) !important;
  left: 25% !important;
  width: 50% !important;
  height: 20% !important;
  display: flexbox !important;
  margin-bottom: 20px;
}

.tiles button {
  width: 6%;
  margin: 5px;
}
